

<p>Hörmətli <h1>@ViewBag.User.UserFirstName</h1> Randevunuz başarıyla kaydedildi!</p>
<p><h1>@ViewBag.Doctor.DrName</h1>  hekimle randevunuzu qebul etdikde size sms gelecek. Lütfen belirtilen tarih ve saatte randevunuza gelmeyi unutmayın.</p>


<a href="/Home/Index">Esas sehifeye qayit</a>

<style>
    h1{
        display:inline;
    }
</style>